@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap");

:root {
  /* Colors */

  --primary: #fdb827;
  --dark: #233506;
  --ligth: #fff;
  --bg-color: #fff9f2;
  --secondary: #ff800b;

  /* Sizes */

  --content_width: 1202px;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fredoka", sans-serif;
  background-color: #fff;
  color: var(--dark);
  font-size: 18px;
}

a {
  color: var(--dark);
  text-decoration: none;
}

/* Layout */

.content {
  max-width: var(--content_width);
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 46px 0;
}

.header__actions {
  display: flex;
  align-items: center;
  margin-left: 200px;
}

.header__actions .button:not(:last-child) {
  margin-right: 12px;
}

.menu {
  display: flex;
  align-items: center;
}

.menu a:not(:last-child) {
  margin-right: 46px;
}

/* FirstScreen - Block 1 */

.first-screen {
  position: relative;
  min-height: 100vh;
  background-color: var(--bg-color);
  display: flex;
}

.first-screen > * {
  position: relative;
  z-index: 0;
}

.first-screen__bg-segment {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 33%;
  z-index: 0;
  background-color: var(--primary);
}

.first-screen__bg-segment img {
  position: absolute;
  top: 12%;
  right: 0;
  width: 280%;
}

.first-screen .content {
  display: flex;
  flex-direction: column;
}

.first-screen__content {
  max-width: 535px;
  margin: auto 0;
  padding-bottom: 64px;
}

.first-screen_title {
  font-size: 84px;
  line-height: 100px;
}

.first-screen_title span {
  color: var(--primary);
}

.first-screen__description {
  line-height: 1.7em;
  margin-top: 30px;
  margin-bottom: 40px;
}

/* Products - Block 2 */

.products {
  padding: 120px 0;
}

.products__cards {
  display: flex;
  flex-wrap: wrap;
  margin: -14px;
  margin-top: 50px;
}

.products__cards .card {
  margin: 21px 14px;
}

/* How it Works - Block 3 */

.how-work {
  position: relative;
  padding: 56px 0;
  background-color: var(--bg-color);
}

.how-work .content {
  position: relative;
  display: flex;
  align-items: center;
}

.how-work .bg-circle {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: calc(var(--size) / -2);
  margin-left: calc(var(--size) / -2);
  z-index: 0;
}

.how-work__img {
  margin-right: 140px;
}

.how-work__description {
  line-height: 1.7em;
  opacity: 0.75;
  margin: 26px 0 50px;
}

.how-work_list {
  list-style-type: none;
  padding: 0;
}

.how-work_list li {
  display: flex;
}

.how-work_list li:not(:last-child) {
  margin-bottom: 40px;
}

.how-work_list .button {
  margin-right: 30px;
}

.how-work_list li:nth-child(1) .button {
  background-color: #7e4ff2;
}

.how-work_list li:nth-child(2) .button {
  background-color: #7bbb66;
}

.how-work_list li:nth-child(3) .button {
  background-color: #ff800b;
}

.how-work_list li:nth-child(4) .button {
  background-color: #ffd400;
}

.how-work_list strong {
  display: block;
  font-size: 20px;
  margin-bottom: 10px;
}

.how-work_list span {
  opacity: 67%;
}

/* About Us - Block 4 */

.about {
  position: relative;
  padding: 100px 0;
}

.bg-circle {
  position: absolute;
  top: 50%;
  right: 18px;
  margin-top: calc(var(--size) / -2);
}

.about .content {
  position: relative;
  display: flex;
  align-items: center;
}

.about__description {
}

.button {
}

.about__img {
  margin-left: 126px;
}

/* Review Block 5*/
.review {
  padding: 110px 0;
  text-align: center;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
}
.review .content {
}
.review .slider {
  margin: 40px auto 0;
}

.customer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.customer__review {
  line-height: 1.7em;
  margin-bottom: 34px;
}
.customer__info {
  display: flex;
  align-items: center;
}
.customer__avatar {
}
.customer__user {
  margin-left: 20px;
  text-align: left;
}
.customer__user strong {
  display: block;
  font-weight: 500;
  opacity: 0.8;
  margin-bottom: 4px;
}
.customer__user span {
  opacity: 0.68;
  font-weight: 300;
}
/* UIElements */

.logo {
  font-size: 36px;
  font-weight: 600;
  margin-right: 150px;
}

.logo span {
  color: var(--secondary);
}

/* Button */

.button {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 16px 22px;
  background-color: var(--primary);
  color: var(--ligth);
  font-size: 18px;
  line-height: 18px;
  border-radius: 50px;
}

.button_light {
  background-color: var(--ligth);
  color: var(--secondary);
}

.button_with-icon i {
  font-size: 1.2em;
  margin-left: 18px;
}

.button_icon-square,
.button_icon-circle {
  --size: 50px;
  padding: 0;
  min-width: var(--size);
  height: var(--size);
  line-height: var(--size);
  border-radius: 15px;
  font-size: 20px;
  text-align: center;
}

.button_icon-circle {
  --size: 62px;
  border-radius: var(--size);
}

.button_xl {
  padding: 22px 40px;
}

/* Title */

.title {
  font-size: 70px;
  line-height: 82px;
  font-weight: 600;
  width: 100%;
}

/* Card */

.card {
  --size: 270px;
  width: var(--size);
}

.card_img {
  width: var(--size);
  height: calc(var(--size) * 0.66);
  border-radius: 10px;
  overflow: hidden;
  background: center / 100% auto;
}

.card_head,
.card__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
}

.card__title {
  font-size: 20px;
  padding-right: 8px;
}

.card__footer {
  margin-top: 28px;
}

.card__gram {
  font-size: 12px;
}

.card .button {
  padding: 10px 36px;
  border-radius: 8px;
  color: var(--dark);
  font-weight: 300;
}

/* BG-Circle */

.bg-circle {
  --size: 680px;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: calc(var(--size) / -2);
  margin-left: calc(var(--size) / -2);
  width: var(--size);
  height: var(--size);
  border-radius: var(--size);
  border: 74px solid var(--primary);
  opacity: 0.23;
}

/*Slider*/
.slider {
  position: relative;
  display: inline-block;
  width: 826px;
  z-index: 3;
}
.slider__button {
  --size: 60px;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  top: 50%;
  margin-top: calc(var(--size) / -2);
  width: var(--size);
  height: var(--size);
  border-radius: var(--size);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary);
  background-color: var(--ligth);
  border: 1px solid var(--primary);
}
.slider__button:hover {
  color: var(--ligth);
  background-color: var(--primary);
  border-color: var(--ligth);
}
.slider__button_prev {
  left: 0;
  margin-left: calc(var(--size) / -2);
}
.slider__button_next {
  right: 0;
  margin-right: calc(var(--size) / -2);
}

.slider__content,
.slider__bg-block {
  --radius: 64px;
  position: relative;
  min-height: 368px;
  background-color: var(--ligth);
  border-radius: var(--radius);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.03), 0 17px 121px rgba(0, 0, 0, 0.06);
}
.slider__bg-block {
  /*display: none;*/
  --width: 86%;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: -1;
  width: var(--width);
  margin-left: calc(var(--width) / -2);
  bottom: -25px;
}
.slider__bg-block_2 {
  --width: 72%;
  bottom: -45px;
  z-index: -2;
}
.slider__item {
  padding: 88px 110px 68px;
}
