@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');

:root {
    /* Colors */
    --primary: #FDB827;
    --dark: #233506;
    --ligth: #FFF;
    --bg-color: #FFF9F2;

    /* Sizes */
    --content_width: 1170px;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fredoka', sans-serif;
    background-color: #fff;
    color: var(--dark);
}

/* Layout */
.content {
    max-width: var(--content_width);
    padding: 0 16px;
}

/* FirstScreen - Block 1 */
.first-screen {
    position: relative;
    min-height: 100vh;
}

.first-screen__bg-segment {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 33%;
    z-index: 0;
    background-color: var(--primary);
}

.first-screen__bg-segment img {
    position: absolute;
    top: 0;
    left: -174%;
    width: 280%;
}

/* UIElements */
.logo {
    font-size: 36px;
    font-weight: 600;
}
.logo span {
    color: var(--primary);
}