@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');

:root {
    /* Colors */
    --primary: #FDB827;
    --dark: #233506;
    --ligth: #FFF;
    --bg-color: #FFF9F2;

    /* Sizes */
    --content_width: 1170px;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fredoka', sans-serif;
    background-color: #fff;
    color: var(--dark);
}
a {
    color: var(--dark);
    text-decoration: none;
}
/* Layout */
.content {

    max-width: var(--content_width);
    padding: 0 16px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 46px 0;
}
.header__actions{
    display: flex;
    align-items: center;
}
/* FirstScreen - Block 1 */
.first-screen {
    position: relative;
    min-height: 100vh;
}

.first-screen__bg-segment {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 33%;
    z-index: -1;
    background-color: var(--primary);
}

.first-screen__bg-segment img {
    position: absolute;
    top: 12%;
    right: 0;
    width: 280%;
}

.menu a:not(:last-child){
    margin-right: 46px;
}
/* UIElements */
.logo {
    font-size: 36px;
    font-weight: 600;
}

.logo span {
    color: var(--primary);
}